{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4 mb-4">

    <h2 class="text-center mb-4">
        Add New Note
    </h2>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary">
            Add Note
        </button>

    </form>

</div>

<div class="card shadow p-4 mb-4">

    <form method="GET">

        <input
            type="text"
            name="query"
            class="form-control"
            placeholder="Search Notes"
        >

        <br>

        <button class="btn btn-dark">
            Search
        </button>

    </form>

</div>

{% for i in note %}

<div class="card shadow mb-3">

    <div class="card-body">

        <h3>{{ i.title }}</h3>

        <p>{{ i.description }}</p>

        <small class="text-muted">
            {{ i.create_at }}
        </small>

        <p>
            Category: {{ i.category }}
        </p>    

        <br><br>

        {% comment %}
        <a href="/update/{{ i.id }}/" class="btn btn-warning">
            Edit
        </a>

        <a href="/delete/{{ i.id }}/" class="btn btn-danger">
            Delete
        </a>
        {% endcomment %}

        <a href="{% url 'delete_note' i.id %}" class="btn btn-warning">Delete</a>
        <a href="{% url 'update_note' i.id %}" class="btn btn-danger">Edit</a>

    </div>

</div>

{% endfor %}

{% endblock %}