{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4">

    <h1 class="text-center mb-4">
        My Notes App
    </h1>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">

            {{ form.title }}

        </div>

        <div class="mb-3">

            {{ form.description }}

        </div>

        <button class="btn btn-primary">
            Add Note
        </button>

        </form>
         <br>
        <form method="GET">
            <input type="text" name="query" placeholder="Search Notes">
            <button type="submit">Search</button>
        </form>

   

</div>

<br>

{% for i in note %}

<div class="card shadow p-3 mb-3">

    <h3>{{ i.title }}</h3>

    <p>{{ i.description }}</p>

    <small>{{ i.create_at }}</small>

    <br><br>

    <a href="/update/{{ i.id }}/" class="btn btn-warning">
        Edit
    </a>
<br>
    <a href="/delete/{{ i.id }}/" class="btn btn-danger">
        Delete
    </a>

</div>

{% endfor %}

{% endblock %}