{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4">

    <h1 class="text-center mb-4">
        Update Note
    </h1>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-success">
            Update Note
        </button>

    </form>

    <br>

    <br>

<form method="GET">

    <input
        type="text"
        name="query"
        class="form-control"
        placeholder="Search Notes"
    >

    <br>

    <button class="btn btn-dark">
        Search
    </button>

</form>

<hr>

</div>

{% endblock %}